<phpunit bootstrap="tests/phpunit.bootstrap.php"
         colors="true"
         backupGlobals="false"
         stopOnFailure="false">
    <testsuite name="Zettr">
        <directory suffix="Test.php">./src</directory>
    </testsuite>
    <php>
        <ini name="memory_limit" value="-1" />
        <ini name="max_execution_time" value="300" />
    </php>
</phpunit>